header {
  background-color: #EBEBEB;
  height: 700px;
}

header div.top {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  z-index: 2;
  width: 70%;
  color: #222222;
  padding-top: 12%;
  align-items: center;
}

header div.top h1 {
  font-size: 5rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  border-right: 2px solid #111111;

}

header div.top p {
  padding-left: 30px;
}

.contact {
  background: rgb(0, 99, 248);
  color: #ffffff;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  width: 50%;
}