body {
  margin: auto;
  width: 80%;
  height: 100%;
  padding: 0;
  font-family: sans-serif;
  background: #eeeeee;
  color: #111111;
  box-sizing: border-box;
}

p {
  display: block;
  text-align: justify;
  padding: 10px;
}

.container {
  background-color: #ffffff;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 10px 54px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 54px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 54px -11px rgba(0,0,0,0.75);
}

/* ------------- Responsive Design ------------------- */

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    height: 350px;
    background-position: bottom;
  }

  header div.head {
    width: 75%;
    padding-top: 400px;
    grid-template-columns: 1fr;
  }

  header div.head h1 {
    font-size: 4rem;
  }

  main section:first-of-type {
    margin-top: 400px;
  }

  main section {
    width: 90%;
    padding: 90px 0;
    margin: 0px auto 50px auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  main section div p {
    padding: 0px 90px;
  }

  .services p.service__icon {
    font-size: 2.4rem;
    padding: 10px 30px;
    margin: 0px 0px 30px 0px;
  }

  .services p.service__title {
    font-size: 2.1rem;
    padding: 0;
    margin: 0;
  }

  .services p:last-of-type {
    padding: 0px 20px; 
    text-align: left;
  }

  .gallery {
    height: 420px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  header {
    height: 440px;
  }

  header div.head {
    width: 75%;
    padding-top: 120px;
    grid-template-columns: 1fr;
  }

  header div.head h1 {
    font-size: 3rem;
  }

  main section {
    width: 90%;
    padding: 90px 0;
    margin: 0px auto 50px auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  main section div p {
    padding: 0px 90px;
  }

 div.services {
   display: grid;
   grid-template-columns: 1fr;
  }

   div.services div {
    width: 70%;
  }

  .services p.service__icon {
    font-size: 2.4rem;
    padding: 10px 30px;
    margin: 0px 0px 30px 0px;
  }

  .services p.service__title {
    font-size: 2.1rem;
    padding: 0;
    margin: 0;
  }

  .services p:last-of-type {
    padding: 0px 20px; 
    text-align: left;
  }

  .gallery {
    height: 400px;
  }
}

@media (min-width: 320px) and (max-width: 480px)  {

  body {
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 0;
    font-family: sans-serif;
    background: #eeeeee;
    color: #111111;
    box-sizing: border-box;
  }

  .container {
    background-color: #ffffff;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    box-shadow: 0px 10px 54px -11px rgba(0,0,0,0.75);
}

  nav {
    text-align: center;
    display: grid;
    width: 100% !important;
    grid-template-columns: 1fr;
  }

  nav ul {
    width: 100% !important;
    display: flex !important;
    margin-bottom: 10px !important;
    padding: 0px !important;
    margin: -4px -77px 0px -85px !important;
  }

  nav ul:first-of-type li {
    font-size: 1.2rem !important;
    font-weight: bold;
    text-indent: 95px !important;
  }

  nav ul:last-of-type li {
   text-align: center;
   width: 100%;
   padding-top: 10px;
   margin: 0px 10px 0 0px !important;
  }

  nav ul li a {
    font-size: 0.9rem !important;
}

  header {
    background-size: 160%;
    height: 270px;
    position: relative;
  }

  header div.head {
    width: 75%;
    grid-template-columns: 1fr;
    padding-top: 260px;
  }

  header div.head h1 {
    font-size: 2.3rem;
    border: none;
  }

  header div.head p {
    padding-left: 0px;
  }

  main section:first-of-type {
    margin-top: 390px;
  }

  main section {
    width: 90%;
    padding: 90px 0 !important;
    margin: 50px auto 0px auto;
    display: grid;
    grid-template-columns: 1fr !important;
  }

  main section h2 {
    border-right: 0px solid #dddddd !important;
    line-height: 0.2rem !important;
    margin-right: 40px !important;
    font-size: 2rem !important;
    margin-left: 0px !important;
  }

  main section div p {
    padding: 0px 0px;
    padding-left: 0px !important;
  }

  div.services {
   display: grid;
   grid-template-columns: 1fr !important;
  }

  div.services div {
    width: 80%;
  }

  .services p.service__icon {
    font-size: 2.4rem;
    padding: 10px 30px;
    margin: 0px 0px 30px 0px;
  }

  .services p.service__title {
    font-size: 2rem !important;
    padding: 0;
    margin: 0;
  }

  .services p:last-of-type{
    padding: 0px 20px; 
    text-align: justify;
  }

  .gallery{
    grid-template-columns: 1fr;
    height: auto;
    margin: 30px auto 0px auto;
  }

  .gallery div {
    height: 200px;
  }

  .gallery div.gallery-item-one {
   grid-column-end: span 1;
   grid-row-end: span 1;
  }

  main section form div label {
    margin-right:10px;
    border-radius: 5px;
  }

  main section form div:last-of-type input {
    padding: 10px;
    border-radius: 5px;
  }

  footer {
    padding: 20px 0;
    text-align: center;
    display: grid !important;
    grid-template-columns: 1fr !important;
  }

  footer ul li a {
    font-size: 1.8rem;
  }
}

h3 {
  font-size: 1.8rem !important;
  font-weight: bold !important;
  margin-block-start: 0.2rem !important;
  margin-block-end: 0.2rem !important;
}

/* h2 {
  font-size: 2rem !important;
} */